<div class="container-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container-fluid seller_hero">
        <h2>About Kosupure</h2>
      </div>
      <div class="flex-menu seller"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary green" %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <section>
            <h3>Join the Kosupure Family!</h3>
            <p>Kosupure is a cosplay-focused marketplace that aims to simplify the cosplay buying and selling process. Whether you're just starting out or a seasoned con-goer, Kosupure is where you can find a full costume, a sweet pattern, or that last prop to make your cosplay perfect. We love cosplay at Kosupure and we can't wait to see what you create.

            <h3>Selling on Kosupure</h3>
            <p>Kosupure is an inexpensive, secure way to sell your cosplay goods. At Kosupure's launch, <strong>we take no cuts or listing fees</strong>, meaning you get to keep more of your money. We process payments through <a href="https://stripe.com/us/pricing">Stripe</a>, a secure payment processor. Stripe handles purchasing, payment and disputes: your personal information will never touch our site's servers.
            </p>
            <div class="row">
              <div class="col-md-6">
                <h4>Stripe Information</h4>
                <ul>
                  <li><strong>Standard Fees.</strong> 2.9% + 30¢ per successful card charge. There's no setup, monthly or hidden fees with Stripe, you'll pay only for what you use. The price is the same for all major cards, including American Express.</li>
                  <li><strong>Refunds and Disputes.</strong> There’s no additional fee for international cards, failed charges, or refunds. Disputed payments, such as chargebacks, incur a fee. If the customer's bank resolves the dispute in you favor, the fee is fully refunded.</li>
                  <li><strong>Fast, predictable transfers.</strong> Once you’re set up, transfers arrive in your bank account on a 2-day rolling basis. Alternatively, you can opt to receive transfers weekly or monthly.</li>
                </ul>

              </div>
              <div class="col-md-6">
                <img class="money" src="https://www.dropbox.com/s/uiaray8umevlwtf/yui-money-slap-1.gif?raw=1">
              </div>
            </div>
                <h4>High Quality Listings Only</h4>
                <p>We reserve the right to remove any listings that don't meet Kosupure standards. This includes, but is not limited to anything that is offensive, dangerous, low-quality, goods unrelated to cosplay, or goods sold by sellers that we've noticed have an unusually high number of complaints or returns. Help us keep this community focused on quality cosplay!</p>
            <h3>Contacting Us</h3>
              <p>We can be reached at <%= mail_to "kosupureio@gmail.com" %>. Feel free to send us questions, feedback or complaints, but most of all we'd love to see your cosplay creations made from items you found on Kosupure! 
          </section>
        </div>
      </div>
    </div>
  </div>