<div class="container-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container-fluid seller_hero">
        <h2>Become a Seller</h2>
      </div>
      <div class="flex-menu seller"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <section>
            <h3>Join the Kosupure Family!</h3>
            <p>Here at Kosupure our aim was to simplify the cosplay buying and selling process. With so many fragmented sites it can be difficult to have a commonplace that removes all the excess clutter. Our other goal was to do this while maintaining cheaper fees than what the other platforms are offering. At launch Kosupure is taking no cuts or listing fees from your sales. That means, the only fees you incur will be through our payment processer <a href="https://stripe.com/us/pricing">Stripe</a> which is one of the most secure and user friendly payment systems around.</p>
            <div class="row">
              <div class="col-md-6">
                <p>At Kosupure, <strong>we don't take any cuts or listing fees</strong>, but please be aware of the standard <a href="https://stripe.com/us/pricing">Stripe</a> pricing model. Below are some key figures.</p>
                <h3>Pricing</h3>
                2.9% + 30c per successful card charge.<br />
                No setup, monthly, or hidden fees.<br />
                Pay only for what you use.<br />
                The price is the same for all major cards, including American Express.<br />
                There’s no additional fee for international cards, failed charges, or refunds.<br /><br />
                Fast, predictable transfers. Once you’re set up, transfers arrive in your bank account on a 2-day rolling basis. Or you can opt to receive transfers weekly or monthly.</br />

              </div>
              <div class="col-md-6">
                <img class="money" src="https://www.dropbox.com/s/uiaray8umevlwtf/yui-money-slap-1.gif?raw=1">
              </div>
            </div>
                <h3>Disputes</h3>
                <p>Disputed payments, such as chargebacks, incur a fee. If the customer’s bank resolves the dispute in your favor, the fee is fully refunded.</p>
                <h3>High Quality Listings Only</h3>
                <p>We reserve the right to remove any listings that don't meet our Kosupure criteria. This is but not limited to anything that is offensive, low-quality, goods unrelated to cosplay (this isn't ebay!), or sellers that we've noticed a high number of returns or complaints about.</p>
          </section>
        </div>
      </div>
    </div>
  </div>