<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid seller_hero"></div>
        <div class="row">
            <div class="col-md-12">
                <section class="seller">
                    <header>
                        <h2>Become a Seller on Kosupure</h2>
                        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
                    </header>
                    <h3>Looking to join the Kosupure family and sell some stuff?</h3>
                    <p>
                        Pitchfork kombucha plaid, microdosing polaroid YOLO tacos intelligentsia marfa mixtape trust fund freegan shoreditch sustainable food truck. Plaid etsy ramps farm-to-table, scenester neutra distillery swag helvetica shabby chic. Forage shoreditch +1
                        affogato thundercats, whatever bicycle rights butcher man braid brunch vegan taxidermy hammock. Skateboard hammock tousled yuccie. Chicharrones vice cliche, leggings bicycle rights mustache tumblr meditation distillery migas post-ironic bespoke marfa
                        polaroid. Typewriter everyday carry gentrify, brunch asymmetrical artisan keytar. Readymade keffiyeh taxidermy yr health goth, schlitz cornhole DIY gastropub whatever migas meh quinoa actually bespoke.
                    </p>
                    <h3>Pricing</h3>
                    <p>
                        At Kosupure, We don't take any cuts, but please be aware of the standard
                        <a href="https://stripe.com/us/pricing">Stripe</a>
                    </p>
                    <p>
                        Forage shoreditch +1 affogato thundercats, whatever bicycle rights butcher man braid brunch vegan taxidermy hammock. Skateboard hammock tousled yuccie. Chicharrones vice cliche, leggings bicycle rights mustache tumblr meditation distillery migas
                        post-ironic bespoke marfa polaroid. Typewriter everyday carry gentrify, brunch asymmetrical artisan keytar. Readymade keffiyeh taxidermy yr health goth, schlitz cornhole DIY gastropub whatever migas meh quinoa actually bespoke.
                        <blockquote>
                            <ul>
                                <li>Pay as you go 2.9% + 30¢ per successful card charge fees.</li>
                                <li>
                                    No setup, monthly, or hidden fees pay.</li>
                                <li>Pay only for what you use reporting icon Real-time fee reporting</li>
                            </ul>
                        </blockquote>
                    </p>
                    <h3>Details</h3>
                </section>
            </div>
        </div>
    </div>
</div>
