<div class="container-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container-fluid seller_hero"></div>
      <div class="row">
        <div class="col-md-12">
          <section class="seller">
            <header>
              <h2>Become a Seller on Kosupure</h2>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
            </header>
            <h3>Looking to join the Kosupure family and sell some stuff?</h3>
            <p>Here are Kosupure our aim was to simplify the cosplay buying and selling process, with so many fragmented sites it can be difficult to have a commonplace that removes all the excess clutter. Our other goal was to do this while maintaining cheaper fees than other platforms, at our launch Kosupure is taking NO CUTS OR LISTING FEES from your sales. That means, the only fees you incur will be through our payment processer Stripe which is one of the most secure and user friendly payment systems around.</p>
          </p>
          <p>As a buyer you do not need to sign up as seller to make purchases, but if you ever want to list something you will need to.</p>
          <h3>Pricing</h3>
          <p>At Kosupure, <strong>we don't take any cuts or listing fees</strong>, but please be aware of the standard <a href="https://stripe.com/us/pricing">Stripe</a> pricing model.
              </p>
          <div class="row">
            <div class="col-md-6">
              <blockquote>
                <p><strong>2.9% + 30c per successful card charge.</strong>
                  <ul>
                    <li>No setup, monthly, or hidden fees.</li>
                    <li>Pay only for what you use.</li>
                    <li>The price is the same for all major cards, including American Express.</li>
                    <li>There’s no additional fee for international cards, failed charges, or refunds.</li>
                  </ul>
                </p>
              </blockquote>
            </div>
            <div class="col-md-6">
              <img class="money" src="https://www.dropbox.com/s/uiaray8umevlwtf/yui-money-slap-1.gif?raw=1">
            </div>
          </div>
          <hr />
          <div class="cta">
            <p>Kosupure is another avenue for your success. There NO COST AT ALL unless you sell which you'll only be paying the Stripe payment fees. So go ahead, list it here, list it on ebay, list it on etsy, that's cool too. This is just another place that can help you get more exposure and sell your amazing cosplay goods!</p>
          </div>
          <h3>Other Details</h3>
          <p>Fast, predictable transfers. Once you’re set up, transfers arrive in your bank account on a 2-day rolling basis. Or you can opt to receive transfers weekly or monthly.</p>
        </section>
      </div>
    </div>
  </div>
</div>