<div class="container-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container-fluid useragreement_hero">
        <h2>User Agreement</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <section>
            <div class="nutshell">
              <h3>Kosupure's User Agreement in a Nutshell!</h3>
              <p>Your use of Kosupure is conditioned on following our rules.
                <ul>
                  <li>When buying, read before buying and actually pay for your item.</li>
                  <li>When selling, don’t sell bad or misleading items and actually send your item to its buyer.</li>
                  <li>We store and distribute some of your information to make things run smoothly.</li>
                  <li>We’re not responsible for transactions conducted between you and other users. Be safe!</li>
                  <li>We might change some of this. We’ll try to let you know.</li>
                </ul>
              </p>
              <p>Questions? kosupureio@gmail.com</p>
              <p class="center"><em>The agreement you make when using Kosupure is below.</em></p>
            </div>
            <h3>User Agreement & Privacy Policy</h3>
            <p>This User Agreement offers you access and use of Kosupure. Kosupure reserves the right to revoke or diminish that access and/or use at any time and for any reason, including but not limited to failure to follow guidelines set out below.</p>
            <h3>General</h3>
            <p>Kosupure does not guarantee the existence, quality, safety, or legality of items offered, the accuracy of listings, or the ability exchange or return an item. You form no contracts with Kosupure when offering, buying or selling an item. However, you will not use Kosupure if you are incapable of forming legally binding contracts in your jurisdiction. Additionally, in using Kosupure, you agree not to circumvent or interfere with our software in any way, post inaccurate or misleading content, or use Kosupure to distribute spam or bulk communication.</p>
            <h3>Buyer Guidelines</h3>
            <p>As a buyer, you agree to provide Kosupure and our payment processor with valid contact information, read a listing in its entirety before purchasing, not to circumvent a seller’s buyer requirements, and make timely and valid payments for items you agree to purchase.</p>
            <h3>Seller Guidelines</h3>
            <p>As a seller, you agree to provide Kosupure and our payment processor with valid contact and payment information, provide complete and accurate representations of items you list on Kosupure, comply by federal, state and local laws pertaining to any items you choose to offer for sale, include any shipping restrictions or information necessary to complete the exchange in all listings, and complete transfers of items to their buyers in a timely and orderly fashion. In addition, you agree not to list any obscene, offensive, or dangerous items, items unrelated to cosplay or the category you choose to list them in, or items that infringe on the intellectual property rights of other parties. We reserve the right to remove listings, but will attempt to notify you if an item is removed.</p>
            <h3>Disputes Against Other Users</h3>
            <p>If you feel that another user is not abiding by one of the guidelines listed above or is otherwise making Kosupure a worse place to conduct business, notify us at kosupureio@gmail.com and we will investigate.</p>
            <h3>Privacy</h3>
            <p>In order to facilitate exchanges, Kosupure collects and stores information about its users. We will use this information to communicate information about purchases and sales and may occasionally use this information to communicate information about the site itself. Additionally, we may disclose information you provide to other users or other third parties, such as our payment processor, as necessary to facilitate transactions.</p>
            <h3>Liability</h3>
            <p>Although we try to keep our services running, we cannot guarantee continued access to Kosupure and its attendant services. To the extent permitted by law, we are not liable or responsible for any damages or losses arising from your use or inability to use our services, damage to hardware or software from the use of Kosupure, content, actions or inactions of third parties, or glitches or bugs in Kosupure. Additionally, you agree to release us from claims connected with your disputes with other users and indemnify us from any claim made by third parties arising out of your misuse of the services provided by Kosupure.</p>
            <p>From time to time, we may change this User Agreement. We will attempt to notify you when such changes occur to this agreement. Your continued use of Kosupure constitutes acceptance of changes to the User Agreement. If any part of this agreement is held to be unenforceable, only that provision will be struck out and such striking will not affect the validity of the remainder of the agreement.</p>
          </section>
        </div>
      </div>
    </div>
  </div>