$site-background-color: #f5f5f1;
$primary-pink: #f48fb1;
$secondary-pink: #f48fb1;
$pink-border: #EFC7D7;
$primary-purple: #31294e;
$secondary-purple: #94405d;
$primary-white: #fff;
$secondary-white: #e5e5e5;
$primary-grey: #666;
$primary-black: #333;