@import "modules/colors";
@import "partials/typography";

.container {
  width: 100%;
  padding: 0;
}

.container-wrapper {
  max-width: 1050px;
  margin: auto;
  border-radius: 3px;
  padding: 40px 15px 0px 15px;
  position: relative;
  @media (max-width: 480px) {
    padding: 5px 5px 0px 5px;
  }
}

.container-index {
  max-width: 1050px;
  margin: auto;
  border-radius: 3px;
  padding: 0px 15px;
  position: relative;
  @media (max-width: 480px) {
    padding: -5px 0px;
  }
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}

.jumbotron {
  background-image: url("https://www.dropbox.com/s/qyimo7397db7hxe/banner.png?raw=1");
  background-size: cover;
  margin-bottom: 0;
  border-radius: 0;
  background-repeat: no-repeat;

  a {
    background-color: $primary-pink;
    color: $primary-white;
    font-weight: 100;
    padding: 10px;
    border-radius: 3px;
    &:hover {
      background-color: #94405d;
    }
  }

  h2 {
    color: $primary-purple;
  }

  h3 {
    color: $primary-purple;
    font-style: italic;
  }
}


.accepts__trades {
  background-image: url("https://www.dropbox.com/s/hr04f58uh8pcowb/accept_trades.jpg?raw=1");
  background-size: cover;
}

.panel {
  border-radius: 3px;
  border: none;
  background-color: $primary-white;
  box-shadow: none;
}

.listing {
  margin: 0 10px;

  .bold-price {
    font-weight: bold;
    font-size: 20px;
  }

  .thumbnail {
    padding: 0;
    border: 0;
    margin: 0;
  }
}

.sort {
  a:hover {
    background-color: rgb(70, 66, 66);
    padding: 12px 10px;
  }

  a:focus {
    text-decoration: none;
  }
}

.list-group {
  list-style: none;

  li {
    border: 1px solid $pink-border;
  }
}

.money {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.cta {
  background-color: $primary-pink;
  p {
    color: $primary-white;
    font-size: 1.5em;
    padding: 20px;
  }
}

.user-entry {
  background-color: $primary-pink;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;

  h2 {
    color: $primary-white;
    margin-top: 10px;
  }
}

.item-detail {
  background-color: $primary-pink;
  border-radius: 3px 3px 0px 0px;
  padding: 10px;
  margin-bottom: 0px;

  h2 {
    color: $primary-white;
    margin-top: 10px;
  }
  p {
    padding: 10px;
  }
}

.description {
  padding-top: 20px;
  border: none;
}

@media screen and (max-width: 480px) {
  .user-entry {
    margin-top: 5px;
  }

  .jumbotron {
    a {
      font-size: .7em;
    }
  }
}

@media screen and (max-width: 990px) {
  body > div > div > div > div > div > div:nth-child(2) {
    margin-bottom: 10px;
  }
}

.not-found {
  margin-top: 20px;
  margin-bottom: 40px;
}