@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #f48fb1;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #f48fb1;
}

.btn-primary {
  background-color: #f48fb1;
  border-color: #eee;
}

.btn-primary:hover {
  background-color: #AD1457;
  border-color: #eee;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: #AD1457;
  border-color: #eee;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  background-color: #AD1457;
  border-color: #eee;
}
.btn-primary:focus, .btn-primary.focus {
  background-color: #AD1457;
  border-color: #eee;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
}

.wrap {
  min-height: calc(100vh - 100px);
}

.bold-price {
  font-weight: bold;
  font-size: 20px;
}