<footer>
	<div class="center">
		© 2016 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Kosupure, LLC <p><%= link_to "User Agreement", pages_useragreement_path %></p>
	</div>
</footer>
